@font-face {
    font-family: primaryFont;
    src: url(../fonts/Helvetica.ttf);
}

@font-face {
    font-family: secondaryFont;
    src: url(../fonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family: tertiaryFont;
    src: url(../fonts/heroAssemble.ttf);
}