@font-face {
    font-family: primaryFont;
    src: url(../fonts/Helvetica.ttf);
}

@font-face {
    font-family: secondaryFont;
    src: url(../fonts/AmericanKestrelCondensed-wzwx.otf);
}

@font-face {
    font-family: tertiaryFont;
    src: url(../fonts/AmericanKestrelExpanded-nzxg.otf);
}